In [6]:
import os
import pandas as pd

reg = pd.read_parquet("regression_outputs.parquet")
reg[reg["reg_shap_top_features"].notna()][
    ["player_id", "snapshot_date","y_growth_pred", "mv_pred_1y", "reg_shap_top_features"]
].head()

,player_id,snapshot_date,y_growth_pred,mv_pred_1y,reg_shap_top_features
1037,3333,2023-06-20,-0.098075,1.359871e+06,"[{""feature"": ""age"", ""shap_value"": -0.415496855..."
1038,3333,2024-05-27,0.020335,1.020544e+06,"[{""feature"": ""age"", ""shap_value"": -0.408125430..."
2413,5336,2023-05-22,-0.187720,3.729810e+05,"[{""feature"": ""age"", ""shap_value"": -0.129821971..."
4190,7825,2023-06-13,-0.068539,6.536298e+05,"[{""feature"": ""age"", ""shap_value"": -0.351818650..."
4191,7825,2024-06-07,-0.143534,5.197748e+05,"[{""feature"": ""age"", ""shap_value"": -0.367538601..."

In [5]:
reg1 = pd.read_parquet("player_snapshot.parquet")
reg1.head()

,player_id,snapshot_date,season_year,name,age,position,sub_position,foot,height_in_cm,country_of_citizenship,...,club_total_market_value,club_win_rate,club_goal_diff_per_game,league_name,league_country,league_strength,league_is_major,is_top5_league,has_recent_transfer,moved_to_bigger_club_flag
0,10,2010-05-08,2009,Miroslav Klose,31.912389,Attack,Centre-Forward,right,184.0,Germany,...,NaN,NaN,NaN,serie-a,Italy,NaN,1,1,0,0
1,10,2011-06-29,2010,Miroslav Klose,33.054073,Attack,Centre-Forward,right,184.0,Germany,...,NaN,NaN,NaN,serie-a,Italy,NaN,1,1,0,0
2,10,2012-07-03,2012,Miroslav Klose,34.067077,Attack,Centre-Forward,right,184.0,Germany,...,NaN,0.526316,0.561404,serie-a,Italy,NaN,1,1,0,0
3,10,2013-06-19,2012,Miroslav Klose,35.028063,Attack,Centre-Forward,right,184.0,Germany,...,NaN,0.526316,0.561404,serie-a,Italy,NaN,1,1,0,0
4,10,2014-01-07,2013,Miroslav Klose,35.581109,Attack,Centre-Forward,right,184.0,Germany,...,NaN,0.387755,-0.020408,serie-a,Italy,NaN,1,1,0,0